{{#section 'title'}}
	admin
{{/section}} 

{{#section 'css'}}
<link rel="stylesheet" href="/assets/css/QuanLyDH.css"> 
{{/section}} 

{{#section 'bookmark'}}
<li>
	<a>Thương hiệu</a>
</li>
{{/section}}

<div class="container">
	<div class="row">
		<div class="col-md-3 menu">
			<nav class="navbar-default" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex2-collapse" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h2 class="heading">Menu</h2>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex2-collapse list-group">
						<ul class="nav">
							<li>
								<a href="/admin/dashboard" class="list-group-item">Dashboard</a>
							</li>
							<li>
								<a href="/admin/category" class="list-group-item">Quản lý loại sản phẩm</a>
							</li>
							<li>
								<a href="/admin/bill" class="list-group-item active">Quản lý đơn hàng</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
			</nav>
		</div>
		<div class="col-md-9 main">
			<div class="datatable-wrap">
				{{#if noBill}}
				{{!-- <div class="filter">
					<div class="search input-group">
						<input type="text" class="  search-query form-control" placeholder="Search">
						<span class="input-group-btn">
							<button class="btn btn-danger" type="button">
								<span class=" glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
					<div class="dropdown sort">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="true">
							Sắp xếp
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu4">
							<li>
								<a href="/admin/bill">Giảm dần theo ngày lập</a>
							</li>
							<li>
								<a href="/admin/bill">Tăng dần theo ngày lập</a>
							</li>
						</ul>
					</div>
				</div> --}}
				<div class="alert alert-warning">không có hóa đơn</div>
				{{else}}
				<h4>Đơn hàng</h4>
				<form style="display: none;" id="frmChangeStatus" method="post" action="/admin/bill/change">
					<input class="form-control" id="txtBillId" type="text" name="billId">
					<input class="form-control" id="txtStatus" type="text" name="status">
				</form>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Mã đơn hàng</th>
							<th scope="col">Ngày mua</th>
							<th scope="col">Người nhận</th>
							<th scope="col">Gửi đến</th>
							<th scope="col">Trạng thái</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{{#each bill}}
						<tr id={{madon}} class="{{color}}">
							<th scope="row">{{madon}}</th>
							<td>{{ngaymua}}</td>
							<td>{{tennguoinhan}}</td>
							<td>{{diachinhan}}</td>
							<td>
								<select class="form-control" onchange="update(this.value, {{madon}});">
									<option value="" id="{{madon}}d" selected>{{tinhtrang}}</option>
									<option value="0" id="{{madon}}a">Chưa giao</option>
									<option value="1" id="{{madon}}b">Đang giao</option>
									<option value="2" id="{{madon}}c">Đã giao</option>
								</select>
							</td>
							<td>
								<a href="/admin/detail/{{madon}}">Chi tiết</a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				<div class="order-pagnition">
					<nav aria-label="Page navigation example">
						<ul class="pagination pagination-sm">
							<li class="page-item disabled">
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">«</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							{{#each page_numbers}} {{#if isCurPage}}
							<li class="active">
								<a href="javascript:;">{{value}}</a>
							</li>
							{{else}}
							<li>
								<a href="?page={{value}}">{{value}}</a>
							</li>
							{{/if}} {{/each}}
							<li class="page-item">
								<a href="#" aria-label="Next">
									<span aria-hidden="true">»</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

{{#section 'js'}}
<script type="text/javascript">
	function update(c, rowid) {
		document.getElementById("txtBillId").value = rowid;
		document.getElementById("txtStatus").value = c;
		switch (c) {
			case "0":
				document.getElementById(rowid).className = "warning";
				document.getElementById(rowid + "d").innerHTML = "Chưa giao";
				document.getElementById(rowid + "a").selected = "selected";
				document.getElementById(rowid + "b").selected = "";
				document.getElementById(rowid + "c").selected = "";
				break;
			case "1":
				document.getElementById(rowid).className = "info";
				document.getElementById(rowid + "d").innerHTML = "Đang giao";
				document.getElementById(rowid + "a").selected = "";
				document.getElementById(rowid + "b").selected = "selected";
				document.getElementById(rowid + "c").selected = "";
				break;
			case "2":
				document.getElementById(rowid).className = "success";
				document.getElementById(rowid + "d").innerHTML = "Đã giao";
				document.getElementById(rowid + "a").selected = "";
				document.getElementById(rowid + "b").selected = "";
				document.getElementById(rowid + "c").selected = "selected";
				break;
		};
		$('#frmChangeStatus').submit();
	}
</script> {{/section}}