{{#section 'title'}}
	admin
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="/assets/css/QuanLySP.css">
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

<div class="container">
		<div class="row">
			<div class="col-md-3 menu">
				<nav class="navbar-default" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex2-collapse" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h2 class="heading">Menu</h2>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex2-collapse list-group">
							<ul class="nav">
								<li><a href="/admin/dashboard" class="list-group-item">Dashboard</a></li>
								<li><a href="/admin/category" class="list-group-item active">Quản lý loại sản phẩm</a></li>
								<li><a href="/admin/bill" class="list-group-item">Quản lý đơn hàng</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>
			</div>
			<div class="col-md-9 main">
				<div class="row">
					<div class="product balo col-md-5">
						<div class="product-image">
							<img src="/images/balo.png">
							<h3>Balo</h3>
						</div>
						<div class="sale">
							<div class="sale-image">
								<img src="/images/sale-tag.png">
							</div>
							<span class="number">{{number_format baloSale}}</span>
						</div>
					</div>
					<div class="product tuixach col-md-5">
						<div class="product-image">
							<img src="/images/tuixach.png">
							<h3>Túi xách</h3>
						</div>
						<div class="sale">
							<div class="sale-image">
								<img src="/images/sale-tag.png">
							</div>
							<span class="number">{{number_format bagSale}}</span>
						</div>
					</div>
					<div class="product col-md-5">
						<div class="product-brand">
							<h3>Nhà sản xuất</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Nhà sản xuất</th>
									</tr>
								</thead>
								<tbody>
									{{#each brand}}
									<tr>
										<th scope="row">{{mahangsx}}</th>
										<td>{{ten}}</td>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>