{{#section 'title'}}
	admin
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="/assets/css/dashboard.css">
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

<div class="container">
		<div class="row">
			<div class="col-md-3 menu">
				<nav class="navbar-default" role="navigation">
					<div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex2-collapse" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h2 class="heading">Menu</h2>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-ex2-collapse list-group">
							<ul class="nav">
								<li><a href="/admin/dashboard" class="list-group-item active">Dashboard</a></li>
								<li><a href="/admin/category" class="list-group-item">Quản lý loại sản phẩm</a></li>
								<li><a href="/admin/bill" class="list-group-item">Quản lý đơn hàng</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div>
				</nav>
			</div>
			<div class="col-md-9 main">
				<div class="report">
					<div class="report-item col-md-3 today-product">
						<div class="title">
							<h5>Hôm nay</h5>
							<h4>Sản phẩm bán</h4>
						</div>
						<div class="report-number">
							<span class="number">{{toDaySale}}</span>
						</div>
					</div>
					<div class="report-item col-md-3 today-order">
						<div class="title">
							<h5>Hôm nay</h5>
							<h4>Đơn hàng</h4>
						</div>
						<div class="report-number">
							<span class="number">{{toDayBill}}</span>
						</div>
					</div>
					<div class="report-table col-md-12">
						<h3>Báo cáo tổng</h3>
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>Số lượng</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Tổng sản phẩm bán</th>
									<td>{{totalSale}}</td>
								</tr>
								<tr>
									<th>Tổng đơn hàng</th>
									<td>{{totalBill}}</td>
								</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>