{{#section 'title'}}
	Chi tiết hóa đơn
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="/assets/css/basket.css">
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}
<form style="display: none;" id="frmChangeStatus" method="post" action="/admin/bill/change">
	<input class="form-control" id="txtBillId" type="text" name="billId">
	<input class="form-control" id="txtStatus" type="text" name="status">
</form>
        <section class="product-basket">
			<div class="container">
                <a href="/admin/bill" class="btn btn-success">
            	    <span class="glyphicon glyphicon-chevron-left"></span>
            	    Back
                </a>
				<div class="row">
					<div class="col-md-9">
                        {{#each product}}
						<div class="item-product-basket">
							<div class="info-item">
								<img src="{{linkanh}}" alt="">
								<div class="info-item-text info-product">
									<h3><a href="/product/detail/{{masp}}">{{ten}}</h3></p>
									<p><i>{{hangsx}}</i></p>
								</div>	
							</div>
							<div class="info-cost">
                                <h3>Số lượng: {{soluong}}</h3>
								<p>{{number_format sotien}} vnd</p>
							</div>
						</div>
                        {{/each}}
                        {{#with customer}}
                        <div class="item-product-basket">
							<div class="info-item">
								<div class="info-item-text info-customer">
                                    <h3>Thông tin khách hàng</h3>
                                    <p><b>Tên:</b> {{ten}}</p>
									<p><b>Địa chỉ:</b> {{diachi}}</p>
									<p><b>SĐT:</b> {{sodienthoai}}</p>
								</div>
                                <div class="info-cost">
                                    <h3>Tổng tiền</h3>
								    <p>{{number_format tongtien}} vnd</p>
							    </div>	
							</div>
						</div>
                        {{/with}}
                        {{#with bill}}
                        <div class="item-product-basket">
							<div class="info-item">
								<div class="info-item-text info-customer">
                                    <h3>Thông tin người nhận</h3>
                                    <p><b>Tên người nhận:</b> {{tennguoinhan}}</p>
									<p><b>Địa chỉ nhận:</b> {{diachinhan}}</p>
									<p><b>SĐT:</b> {{sodienthoai}}</p>
                                    <p><b>Ngày mua:</b> {{ngaymua}}</p>
                                    <p><b>Ghi chú:</b> {{ghichu}}</p>
                                    <p><b>Tình trạng:</b></p>
                                    <select class="form-control" onchange="update(this.value, {{madon}});">
										<option value="" id="{{madon}}d" selected>{{tinhtrang}}</option>
										<option value="0">Chưa giao</option>
										<option value="1">Đang giao</option>
										<option value="2">Đã giao</option>
									</select>
								</div>
							</div>
						</div>
                        {{/with}}
					</div>
				</div>
			</div>
		</section>

{{#section 'js'}}
    <script type="text/javascript">
		function update(c, rowid) {
			document.getElementById("txtBillId").value = rowid;
			document.getElementById("txtStatus").value = c;
			switch(c){
				case "0":
					document.getElementById(rowid+"d").innerHTML = "Chưa giao";
					break;
				case "1":
					document.getElementById(rowid+"d").innerHTML = "Đang giao";
					break;
				case "2":
					document.getElementById(rowid+"d").innerHTML = "Đã giao";
				break;
			};
			$('#frmChangeStatus').submit();
		}
	</script>
{{/section}}