{{#section 'title'}}
	Đăng nhập
{{/section}}

{{#section 'css'}}
	<style type="text/css">
		label {
			font-weight: normal !important;
		}
	</style>
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

{{#if showError}}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Title!</strong> {{errorMsg}}
</div>
{{/if}}

{{#if err}}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Tài khoản hoặc mật khẩu không chính xác</strong>
</div>
{{/if}}

<form class="form-horizontal" method="post" action="/account/login" id="frmLogin">
    <div class="form-group">
        <label for="txtUsername" class="col-sm-2 control-label">Tên đăng nhập</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="username" value="{{sdt}}">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="rawPWD">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <label>
                <input type="checkbox" name="remember" style="width: 15px !important">
                Ghi nhớ
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
            	<span class="glyphicon glyphicon-check"></span>
            	Đăng nhập
            </button>
        </div>
    </div>
</form>