{{#section 'title'}}
	Thông tin cá nhân
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

{{#section 'css'}}
  <link rel="stylesheet" href="/assets/css/profile.css">
{{/section}}

<div id="main">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3 menu">
						<nav class="navbar-default" role="navigation">
							<div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex2-collapse" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<h2 class="heading">Menu</h2>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse navbar-ex2-collapse">
									<ul class="nav">
										<li><a href="/" class="list-group-item">Trang chủ</a></li>
                    <li><a href="/account/profile" class="list-group-item active">Profile</a></li>
						    		<li><a href="/bill" class="list-group-item">Lịch sử mua hàng</a></li>
									</ul>
								</div><!-- /.navbar-collapse -->
							</div>
						</nav>
					</div>
					<div class="col-md-9 col-lg-9 form">
						<div class="panel panel-primary">
						  <div class="panel-heading">
						    <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i></h3>
						  </div>
						  <div class="panel-body">
						    <div class="row form-item">
						    	<h3>Thông tin cá nhân</h3>
						    	<hr />
									<div class="col-md-10 col-lg-10">
										{{#if err}}
											<div class="alert alert-{{color}}">
												<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
												<strong>Msg:</strong> {{errorMsg}}
											</div>
										{{/if}}
										{{#with user}}
										<form id="frmUpdate" class="form-horizontal" method="post" action="/account/update">
											<div class="form-group">
											  <label for="ten" class="col-sm-3 control-label">Tên</label>
											  <div class="col-sm-9">
											  	<input type="text" value="{{ten}}" class="form-control" name="ten" id="ten" placeholder="Tên" readonly="true">
											  </div>
											</div>
											<div class="form-group">
											  <label for="gioitinh" class="col-sm-3 control-label">Giới tính</label>
											  <div class="col-sm-9 select">
											  	<select class="form-control disabled" name="gioitinh" id="gioitinh" disabled="true">
														<option value="{{gioitinh}}" selected>{{gender}}</option>
											  		<option value="1">Nam</option>
												    <option value="0">Nữ</option>
											  	</select>
											  </div>
											</div>
											<div class="form-group">
											  <label for="diachi" class="col-sm-3 control-label">Địa chỉ</label>
											  <div class="col-sm-9">
													<input type="text" value="{{diachi}}" class="form-control" name="diachi" id="diachi" placeholder="Địa chỉ" readonly="true">
											  </div>
											</div>
											<div class="form-group">
											  <label for="sodienthoai" class="col-sm-3 control-label">SĐT</label>
											  <div class="col-sm-9">
													<input type="text" value="{{sodienthoai}}" class="form-control" name="sodienthoai" id="sodienthoai" placeholder="Số điện thoại" readonly="true">
											  </div>
											</div>
											<div class="form-group">
											  <label for="email" class="col-sm-3 control-label">Email</label>
											  <div class="col-sm-9">
											  	<input type="text" value="{{email}}" class="form-control" name="email" id="email" placeholder="Email" readonly="true">
											  </div>
											</div>
										</form>
										{{/with}}
									</div>
									<div class="col-md-6 col-lg-6">
										<form class="form-horizontal">
											
									</div>
								</div>
						  </div>
						  <div class="panel-footer">
								<a id="btnUpdate" href="javascript:;" class="btn btn-primary" onclick="update();">Update</a>
						  	<a id="btnSubmit" style="display: none;" class="btn btn-success" href="javascript:;" onclick="$('#frmUpdate').submit();">Submit</a>
						  	<a id="btnCancel" style="display: none;" href="/account/profile" class="btn">Cancel</a>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>

{{#section 'js'}}
<script type="text/javascript">
	function update() {
		document.getElementById("btnUpdate").style = "display: none;";
		document.getElementById("btnSubmit").style = "";
		document.getElementById("btnCancel").style = "";
		document.getElementById("ten").readOnly = false;
		document.getElementById("gioitinh").disabled = false;
		document.getElementById("diachi").readOnly = false;
		document.getElementById("sodienthoai").readOnly = false;
		document.getElementById("email").readOnly = false;
	}
</script> {{/section}}