{{#section 'title'}}
	Đăng ký
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

{{#section 'js'}}
	<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		$('#txtDOB').datepicker({
			format: 'd/m/yyyy',
			autoclose: true
		});

		var validate = function() {
		    if ($('#txtUsername').val().length === 0) {
		        alert('Error');
		        return false;
		    }

		    if ($('#txtPWD').val() !== $('#txtCPWD').val()) {
		        alert('Mật khẩu nhập lại không đúng!');
		        return false;
		    }

		    return true;
		}
	</script>
{{/section}}


<form action="/account/register" method="POST" class="form-horizontal" role="form" onsubmit="return validate();">
	<div class="form-group">
        <label for="txtUsername" class="col-sm-2 control-label">Số điện thoại</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="sdt" required value="{{sdt}}">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="rawPWD" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txtCPWD" class="col-sm-2 control-label">Nhập lại</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtCPWD" placeholder="Nhập lại password" name="cPWD" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txtName" class="col-sm-2 control-label">Họ tên</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtName" placeholder="Họ tên" name="name" value="{{ten}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="email" value="{{email}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="sex" class="col-sm-2 control-label">Giới tính</label>
        <div class="col-sm-4">
            <input type="radio" id="sexNam" name="gt" value="1"  style ="width: 30px !important; margin-left:20px;" checked> Nam
            <input type="radio" id="sexNu" name="gt" value="0" style ="width: 30px !important; margin-left:20px;"> Nữ
        </div>
    </div>
    <div class="form-group">
        <label for="addr" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="addr" name="addr" required>
        </div>
    </div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<button type="submit" class="btn btn-success">
				Đăng ký
			</button>
		</div>
	</div>
</form>