{{#section 'title'}}
	{{pageName}}
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="/assets/css/balo.component.css">
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

<div class="main-body">
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li>
          <a href="/home/index">Trang chủ</a>
        </li>
        <li>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a>{{pageName}}</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="side-bar col-md-3">
        <div class="b_item">
          <i class="fa fa-caret-right" id="baloflush">
            <a href="/product/byCat/balo/noBrand">BALO</a>
          </i>
        </div>
        <div class="b_item">
          <i class="fa fa-caret-right" id="tuixachflush">
            <a href="/product/byCat/bag/noBrand">TÚI XÁCH</a>
          </i>
        </div>
        <div class="best-seller clearfix">
          <h3>BEST-SELLER</h3>
          {{#each bestSeller}}
          <div class="item-best-seller">
            <div class="left-item">
              <a href="/product/detail/{{masp}}">
                <img src={{linkanh}} alt="">
              </a>
            </div>
            <div class="right-item">
              <a href="/product/detail/{{masp}}">{{ten}}</a>
              <div class="price">{{gia}} VNĐ</div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="col-md-9">
        <div class="filter clearfix">
          <div class="dropdown b_item item-brand">
            <span data-toggle="dropdown" class="dropdown-toggle">Thương hiệu
              <span class="caret"></span>
            </span>
            <span class="triangle"></span>
            <ul class="dropdown-menu">
              {{#each brand}}
              <li value="{{ten}}" onclick="Search(this);">
                <span>
                  <a href="/product/byCat/{{catId}}/{{mahangsx}}">{{ten}}</a>
                </span>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="list-products col-md-12">
			
			<div class="row">
        {{#if noProducts}}
			    <div class="row">
				    <div class="col-md-3">
					    Không có sản phẩm thoả yêu cầu.
				    </div>
		      </div>
			  {{else}}
        <form style="display: none;" id="fAddProduct" action="/cart/add" method="post">
		      <input type="password" id="masp" name="masp" value="">
        </form>
			{{#each products}}
				<div class="product-loop col-md-3">
            		<div class="item-loop">
              			<a href="/product/detail/{{masp}}" class="wrap-image">
                			<img src={{linkanh}} alt="">
              			</a>
              			<a href="/product/search" class="brand">{{brand}}</a>
              			<h3>
                			<a href="/product/detail/{{masp}}" class="title">{{ten}}</a>
              			</h3>
              			<div class="price">
                			<span class="main-price">{{number_format gia}} VNĐ</span>
                      
                          <button class="btn btn-success btnCartWrap" value="{{masp}}" type="button" onclick="BuyClick(this.value)"><img src="/images/cart_green.png" class="btnCart"></button>
              			   
                    </div>
            		</div>
          		</div>
			{{/each}}
			</div>
          
        </div>

        <div id="pagination" class="col-md-12 text-right">
          <ul class="pagination">
	<li class="disabled">
		<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li><a href="?page={{value}}">{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li>
		<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
        </div>

      </div>

      <div class="col-md-12">
        <div class="content" style="text-align: justify">
          <h2>
            <strong>Mua Ba lô đẹp, xinh xắn chính hãng giá rẻ tại TPHCM</strong>
          </h2>
          <p>Ba lô từ lâu đã trở thành vật dụng quá quen thuộc với chúng ta, dù là nam hay nữ đều có thể sở hữu cho mình những
            chiếc ba lô xinh xắn theo phong cách khác nhau. Ngày nay balo càng đa dạng hơn về mẫu mã, chất liệu cùng với
            các màu sắc trẻ trung sẽ là một phụ kiện không thể thiếu cho những lúc đi học, đi chơi hay một chuyến du lịch
            ngắn ngày.</p>
          <p>Bạn muốn tìm một mẫu balo đẹp hàng hiệu chính hãng chất lượng với kiểu dáng thời trang, cá tính nhưng đồng thời
            phải đảm bảo tiêu chí giá cả phải chăng, phù hợp với túi tiền người sử dụng. Nếu muốn có được những nhu cầu trên,
            hãy đến với cửa hàng
            <strong>balotuixach.com</strong> nơi chuyên bán balo đẹp giá rẻ tại TPHCM với hàng trăm mẫu balo xinh balo đẹp cho nam
            nữ được thiết kế thời trang, cá tính của những thương hiệu balo nổi tiếng đến từ các nước trên thế giới như:
            Adidas, Mikkor, Sakos, Coolbell... </p>
          <p>
            <strong>Mua balo online chính hãng ở đâu?</strong>
          </p>
          <p>Tại shop
            <strong>Balo Túi xách</strong> chúng tôi cam kết bán balo chính hãng chất lượng cao, khách hàng sẽ luôn an tâm với chất
            lượng của những chiếc balo tại đây. Hơn nữa, khi mua ba lô tại
            <strong>balotuixach.com</strong> bạn sẽ luôn được bảo hành, nhân viên chúng tôi sẽ tư vấn cho bạn để có thể chọn ra chiếc
            balo hợp lý, phù hợp với nhu cầu của khách hàng nhất. Chúng tôi luôn có những chương trình ưu đãi khuyến mãi
            cho balo cực hấp dẫn. </p>
          <p>Bạn còn chờ gì nữa mà không nhanh chân đến shop Balo Hàng Hiệu chọn cho mình những chiếc ba lô xinh đẹp thật ưng
            ý.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
{{/if}}

{{#section 'js'}}
	<script type="text/javascript" src="/assets/js/js2.js"></script>
  <script type="text/javascript">
		function BuyClick(value)
		{
			$("#masp").val(value);
			$("#fAddProduct").submit();
		}

    function Search(id)
		{
      document.getElementById("Type_R").value = "1";
      $("#Search_R").val(id.value);
      //document.getElementById("Search_R").value = val;
      
      //console.log($(this).attr('href'));
      $('#frmSearch').submit();
		}
		</script>
{{/section}}