{{!-- {{#section 'title'}} Detail {{/section}} {{#with product}}
<div class="row">
	<div class="col-md-12">
		<img src="/imgs/sp/{{ProID}}/main.jpg" />
	</div>
	<div class="col-md-12 caption-lg-orange">
		<h3>{{ProName}}</h3>
	</div>
	<div class="col-md-12 padding">
		<span class="caption-lg-red">Giá bán: {{number_format Price}}</span>
	</div>
	<div class="col-md-12 padding">
		Tồn kho: {{Quantity}}
	</div>
	<div class="col-md-12 padding">
		{{{FullDes}}}
	</div>
</div>
{{/with}} {{#if layoutVM.isLogged}} --}}
{{#section 'css'}}
	<link rel="stylesheet" href="/assets/css/product.css">
{{/section}}

<section class="info-product">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-1">
						<div class="img-item-info">
							<img src="{{product.linkanh}}" alt="">
						</div>
						<div class="img-item-info">
							<img src="/images/pr2.png" alt="">
						</div>
						<div class="img-item-info">
							<img src="/images/pr3.jpg" alt="">
						</div>
						<div class="img-item-info">
							<img src="/images/pr4.jpg" alt="">
						</div>
						<div class="img-item-info">
							<img src="/images/pr5.jpg" alt="">
						</div>
					</div>
					<div class="col-md-11">
						<div id="img-item-info" class="owl-carousel">
							<div class="item-img">
								<img src="{{product.linkanh}}" alt="">
							</div>
							<div class="item-img">
								<img src="/images/prm2.png" alt="">
							</div>
							<div class="item-img">
								<img src="/images/prm3.jpg" alt="">
							</div>
							<div class="item-img">
								<img src="/images/prm4.jpg" alt="">
							</div>
							<div class="item-img">
								<img src="/images/prm5.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 detail">
						<div class="menu-info">
							<a href="#" id="info-product-detail">Chi tiết sản phẩm</a>
							<a href="#" id="number-tech">Thông số kỹ thuật</a>
							{{!-- <a href="javascript:;" id="add-basket">Thêm vào giỏ hàng</a> --}}
						</div>
						<div class="detail-number hide">
							<table class="number-tech">
								<tr>
									<td class="head-info">Chất liệu</td>
									<td class="value">Polyeste</td>
								</tr>
								<tr>
									<td class="head-info">Màu sắc</td>
									<td class="value">Black</td>
								</tr>
								<tr>
									<td class="head-info">Số ngăn</td>
									<td class="value">>1</td>
								</tr>
								<tr>
									<td class="head-info">Kích thước</td>
									<td class="value">50 x 32 x 19 cm</td>
								</tr>
								<tr>
									<td class="head-info">Trọng lượng</td>
									<td class="value">1.1 kg</td>
								</tr>
								<tr>
									<td class="head-info">Thời gian bảo hành</td>
									<td class="value">1 năm</td>
								</tr>
							</table>
						</div>
						<div class="info-product-detail">
							<div class="info-product-detail-item">
								<p>
									Balo Haglofs Backup Laptop 17 Backpack M Black là mẫu balo được ưa chuộng nhất của dòng Haglofs. Sản phẩm được thiết kế với
									những đường nét phá cách, độc đáo nhưng vẫn thể hiện được sự sang trọng, thanh lịch, kết hợp giữa thiết kế và sắc
									đen mạnh mẽ đã tạo nên chiếc balo hoàn hảo, gây ấn tượng cho người dùng từ cái nhìn đầu tiên.
								</p>
								<div class="item">
									<img src="/images/item.jpg" alt="">
									<small>Haglofs Backup Laptop 17 Backpack M Black</small>
								</div>
							</div>
							<div class="info-product-detail-item">
								<p>
									<strong>
										<small>Thiết kế nhiều ngăn tiện dụng</small>
									</strong>
									<br> - Chiếc balo được thiết kế 1 ngăn chính và 1 ngăn phụ trợ. - Ngăn chính có diện tích rộng rãi có hỗ trợ túi chống
									sốc rời dành cho laptop 17 inch và có đệm chống va đập an toàn. - Ngăn phụ kiện ở phía trước cho phép bạn mang theo
									vô số phụ kiện hỗ trợ.
								</p>
								<div class="item">
									<img src="/images/item2.jpg" alt="">
									<small>Đựng được nhiều đồ dùng</small>
								</div>
							</div>
							<div class="info-product-detail-item">
								<p>
									Balo Haglofs Backup Laptop 17 Backpack M Black là mẫu balo được ưa chuộng nhất của dòng Haglofs. Sản phẩm được thiết kế với
									những đường nét phá cách, độc đáo nhưng vẫn thể hiện được sự sang trọng, thanh lịch, kết hợp giữa thiết kế và sắc
									đen mạnh mẽ đã tạo nên chiếc balo hoàn hảo, gây ấn tượng cho người dùng từ cái nhìn đầu tiên.
								</p>
								<div class="item">
									<img src="/images/item3.jpg" alt="">
									<small>Haglofs Backup Laptop 17 Backpack M Black</small>
								</div>
							</div>
							<div class="info-product-detail-item">
								<p>
									<strong>
										<small>Kiểu dáng hiện đại, năng động</small>
									</strong>
									<br /> - Mặt trước với dây rút hỗ trợ bạn nếu bạn muốn mang thêm hành lý hoặc có thể tháo rời nếu bạn thấy rườm rà. -
									Mặt lưng được xử lý với công nghệ ép nhiệt mềm mại với khả năng thoáng khí tuyệt vời. Và 4 dây đai bên hông giúp
									khả năng cân bằng trọng lực tối ưu. Đai ngực giúp ổn định balo trong lúc di chuyển. Bên cạnh đó thì tay xách balo
									được dệt tròn vô cùng chắc chắn.

								</p>
								<div class="item">
									<img src="/images/item4.jpg" alt="">
									<small>Kiểu dáng hiện đại, phù hợp mọi đối tượng</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<p>
					<a href="#" class="brand-item">
						<small>Thương hiệu: {{product.brand}}</small>
					</a>
				</p>
				<strong class="name-item"> Tên sản phẩm: {{product.ten}}
					<br />{{number_format product.gia}} VNĐ</strong>
				<br />
				<small class="cost-item">Tiết kiệm được 381,000 VNĐ (30%)</small>
				<br />
				<strong>TẠI SAO CHỌN CHÚNG TÔI?</strong>
				<ul class="text-item">
					<li>
						<i class="fa fa-check"></i>
						Đại lý chính hãng hơn 50 hãng hàng đầu
					</li>
					<li>
						<i class="fa fa-check"></i>
						Đổi trả 30 ngày nếu không hài lòng
					</li>
					<li>
						<i class="fa fa-check"></i>
						Hoàn tiền nếu không hài lòng sản phẩm
					</li>
					<li>
						<i class="fa fa-check"></i>
						Bảo hành trọn đời miễn phí TÚI - BALO
					</li>
				</ul>
				<button value="{{product.masp}}" type="button" class="btn oder-item" onclick="BuyClick(this.value)">
					<h3>Đặt mua ngay, giao hàng tận nơi</h3>
					<small>Không mua cũng không sao</small>
				</button>
				<br/>
				<small>
					Gọi nghe tư vấn miễn phí: 1800 6198 (Miễn phí) (8h - 21h30)
				</small>
				<div class="customer-service">
					<div class="customer-service-item">
						<h3>
							<img src="/images/de_dang_doi_tra.png" alt="dễ dàng đổi trả">
						</h3>
						<h3>Dễ dàng đổi trả</h3>
						<p>Đổi trả 30 ngày nếu không hài lòng</p>
						<p>Hoàn tiền nếu không hài lòng sản phẩm</p>
					</div>
					<div class="customer-service-item">
						<h3>
							<img src="/images/tu_van_nhiet_tinh.png" alt="tư vấn nhiệt tình">
						</h3>
						<h3>tư vấn nhiệt tình</h3>
						<p>Inbox trực tiếp cho page để được tư vấn ngay!</p>
						<p>Hotline: 1800 6198</p>
					</div>
					<div class="customer-service-item">
						<h3>
							<img src="/images/chinh_sach_bao_hanh.png" alt="CHÍNH SÁCH BẢO HÀNH">
						</h3>
						<h3>CHÍNH SÁCH BẢO HÀNH</h3>
						<p>Đại lý chính hãng hơn 50 hãng hàng đầu</p>
						<p>Bảo hàng trọn đời sản phẩm TÚI - BALO</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<form id="fAddProduct" action="/cart/add" method="post">
		<input type="password" id="masp" name="masp" value="">
</form>
<section class="same-products">
	<div class="title">
		<h3>
			<a>Sản phẩm cùng loại</a>
		</h3>
		<div class="line"></div>
	</div>
	<div class="container wrap-products">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="same-products" class="owl-carousel">
						{{#each sameType}}
							<div class="img-item-info">
								<img src="{{linkanh}}" alt="" id="{{masp}}">
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="same-brand">
	<div class="title">
		<h3>
			<a href="#">Sản phẩm cùng thương hiệu</a>
		</h3>
		<div class="line"></div>
	</div>
	<div class="container wrap-products">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="same-brands" class="owl-carousel">
						{{#each sameBrand}}
							<div class="img-item-info">
								<img src="{{linkanh}}" alt="" id="{{masp}}">
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{#section 'js'}}
    <script type="text/javascript">
		function BuyClick(value)
		{
			$("#masp").val(value);
			$("#fAddProduct").submit();
		}
		</script>
{{/section}}