{{#section 'title'}}
	Search
{{/section}}

{{#section 'css'}}
	<link rel="stylesheet" href="/assets/css/balo.component.css">
{{/section}}

{{#section 'bookmark'}}
  <li><a >Thương hiệu</a></li>
{{/section}}

<div class="main-body">
  <div class="container">
    <div class="breadcrumb">
      <ul>
        <li>
          <a href="homepage.html">Trang chủ</a>
        </li>
        <li>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a>search</a>
        </li>
      </ul>
    </div>
    <div class="row">
        <div class="side-bar col-md-3">
        <div class="b_item">
          <i class="fa fa-caret-right" id="baloflush">
            <a href="/product/byCat/balo/noBrand">BALO</a>
          </i>
        </div>
        <div class="b_item">
          <i class="fa fa-caret-right" id="tuixachflush">
            <a href="/product/byCat/bag/noBrand">TÚI XÁCH</a>
          </i>
        </div>
      </div>
      <div class="col-md-9">
        <div class="list-products col-md-12">
			<div class="row">
        {{#if noProducts}}
			    <div class="row">
				    <div class="col-md-3">
					    Không có sản phẩm thoả yêu cầu.
				    </div>
		      </div>
			  {{else}}
        <form style="display: none;" id="fAddProduct" action="/cart/add" method="post">
		      <input type="password" id="masp" name="masp" value="">
        </form>
			{{#each products}}
				<div class="product-loop col-md-3">
            		<div class="item-loop">
              			<a href="/product/detail/{{masp}}" class="wrap-image">
                			<img src={{linkanh}} alt="">
              			</a>
              			<a class="brand">{{brand}}</a>
              			<h3>
                			<a href="/product/detail/{{masp}}" class="title">{{ten}}</a>
              			</h3>
              			<div class="price">
                			<span class="main-price">{{gia}} VNĐ</span>
                          <button class="btn btn-success btnCartWrap" value="{{masp}}" type="button" onclick="BuyClick(this.value)"><img src="/images/cart_green.png" class="btnCart"></button>
              			</div>
            		</div>
          		</div>
			{{/each}}
			</div>
          
        </div>

        <div id="pagination" class="col-md-12 text-right">
          <ul class="pagination">
	<li class="disabled">
		<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
	</li>
	{{#each page_numbers}}
		{{#if isCurPage}}
			<li class="active"><a href="javascript:;">{{value}}</a></li>
		{{else}}
			<li value="{{value}}" onclick="loadPage(this.value)"><a id="Page_{{value}}" >{{value}}</a></li>
		{{/if}}
	{{/each}}
	<li>
		<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
	</ul>
        </div>

      </div>
    </div>
  </div>
</div>
</nav>
{{/if}}

{{#section 'js'}}
	<script type="text/javascript" src="/assets/js/js2.js"></script>
    <script type="text/javascript">
    function BuyClick(value)
		{
			$("#masp").val(value);
			$("#fAddProduct").submit();
		}
        var loadPage = 
        function(id) {
            //var id = $(this).attr("id");
            event.preventDefault();
            document.getElementById("Type_R").value = {{type}};
            document.getElementById("Search_R").value = "{{search}}";
            document.getElementById("Page_R").value = id;
            //console.log($(this).attr('href'));
            $('#frmSearch').submit();
        };

    function Search(value)
      {
        event.preventDefault();
        document.getElementById("Type_R").value = value;
        document.getElementById("Search_R").value = "1";
        //document.getElementById("Page_R").value = 0;
        //console.log($(this).attr('href'));
        $('#frmSearch').submit();
      }
    </script>
{{/section}}