{{#section 'title'}}
	Trang chủ
{{/section}}

{{#section 'css'}}
	
{{/section}}

{{#section 'bookmark'}}
  <li><a >Hàng mới về</a></li>
	<li><a >Hàng bán chạy</a></li>
	<li><a >Hàng được xem nhiều</a></li>
  <li><a >Thương hiệu</a></li>
{{/section}}

{{!-- main --}}
<div class="main">
  <section class="">
    <div class="container wrap-banner">
      <img src="/images/qc.jpg" alt="">
    </div>
  </section>
  <section class="category">
    <div class="wrap-category container">
      <div class="item">
        <a href="/product/byCat/balo/noBrand">
          <img src="/images/balo.png" alt="balo">
        </a>
        <p>Ba lô</p>
      </div>
      <div class="item">
        <a href="/product/byCat/bag/noBrand">
          <img src="/images/tuixach.png" alt="tuixach">
        </a>
        <p>Túi xách</p>
      </div>
    </div>
  </section>
  <section class="new-products">
    <div class="title">
      <h3>
        <a href="#">Hàng mới về</a>
      </h3>
      <div class="line"></div>
    </div>
    <div class="container wrap-products">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="new-products" class="owl-carousel">
				{{#each newProduct}}
              		<div class="item">
					  	      <div class="item-img">
                      <a href="/product/detail/{{masp}}">
                  			<img src={{linkanh}} alt={{linkanh}}>
                      </a>
                		</div>
                		<div class="item-info">
                  			<small class="brand">
                    		<a>{{brand}}</a>
                 		 	</small>
                  			<a href="/product/detail/{{masp}}" class="name">{{ten}}</a>
                  			<p class="money">{{number_format gia}} vnđ</p>
                		</div>
              		</div>
			  	{{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="common-products">
    <div class="title">
      <h3>
        <a href="#">Hàng bán chạy</a>
      </h3>
      <div class="line"></div>
    </div>
    <div class="container wrap-products">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="common-products" class="owl-carousel">
				{{#each sellerProduct}}
              		<div class="item">
					  	      <div class="item-img">
                      <a href="/product/detail/{{masp}}">
                  		  <img src={{linkanh}} alt={{linkanh}}>
                      </a>
                		</div>
                		<div class="item-info">
                  			<small class="brand">
                    		<a>{{brand}}</a>
                 		 	</small>
                  			<a href="/product/detail/{{masp}}" class="name">{{ten}}</a>
                  			<p class="money">{{number_format gia}} vnđ</p>
                		</div>
              		</div>
			  	{{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="best-seller-products">
    <div class="title">
      <h3>
        <a href="#">Hàng được xem nhiều</a>
      </h3>
      <div class="line"></div>
    </div>
    <div class="container wrap-products">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="best-sell-products" class="owl-carousel">
              	{{#each commonProduct}}
              		<div class="item">
					  	    <div class="item-img">
                    <a href="/product/detail/{{masp}}">
                  		<img src={{linkanh}} alt={{linkanh}}>
                    </a>
                		</div>
                		<div class="item-info">
                  			<small class="brand">
                    		<a>{{brand}}</a>
                 		 	</small>
                  			<a href="/product/detail/{{masp}}" class="name">{{ten}}</a>
                  			<p class="money">{{number_format gia}} vnđ</p>
                		</div>
              		</div>
			  	{{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{#section 'js'}}
	<script type="text/javascript" src="/assets/js/js1.js"></script>
{{/section}}