button#value-number:hover {
    cursor: text;
    background: #5cb85c;
}

.item-product-basket {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    margin-top: 10px;
    border: 1px solid #979494;
    border-radius: 5px;
}

.item-product-basket img {

    width: 200px;
    max-height: 200px;
    margin-right: 20px;
}

section.product-basket {
    padding: 10px;
    margin-top: 20px;
}

.info-item {
    font-size: 18px;
    color: #000000;
    display: flex;
    align-items: center;
}

.info-item a {
    color: #000000;
}
.info-item-text{
    margin: 20px 190px 20px 30px;
    
}
.info-product{
    margin-left: 0px;
}
.info-item-text h3{
    color: rgb(70, 42, 146);
    margin-bottom: 5px;
}

.info-customer p{
    margin-left: 20px;
}

.info-item-text p {
    margin-bottom: 10px;
}
.info-cost{
    text-align: center;
}
.info-cost p{
    color: #d43f3a;
    font-size: 27px;
}
.info-cost h3 {
    color: #000000;
    margin-bottom: 10px;
}

.info-cost-total {
    position: absolute;
    left: 70px;
    top: 35px;
}

/* .main {
    background: #eee;
} */

section.product-basket .info-cost-total {
    padding: 30px;
    background: #fff;
    color: #d43f3a;
    text-align: center;
}

button.btn.btn-info.btn-lg {
    margin-top: 30px;
}

.item-info-cost {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #80808045;
}

.info-cost button {
    margin-top: 20px;
}

section.product-basket .info-cost-total button {
    margin-top: 20px;
}

.panel.panel-default.ship-info {
    margin-top: 225px;
    left: 0px;
    width: 130%;
}

input.cus-info {
    width: 100%;
}

button.btn.btn-info.btn-lg.xacnhan {
    margin: 0px 0px 0px 100px;
}