/* ==========================================================================
   Bui Viet Son
   ========================================================================== */
span.badge {
    background: #a90d0d;
}

.modal-header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #a81818;
}

.col-md-6.info-product-modal {
    text-align: center;
    padding: 20px;
    color: #a01818;
}

small.left-modal {
}

.info-total, .info-fee, .info-real-cost {
    justify-content: space-between;
    display: flex;
    padding: 5px 20px;
}

.info-fee {
    border-bottom: 1px solid #a81818;
}

.col-md-6.info-customer-modal {
    padding: 20px;
    text-align: center;
}

.col-md-6.info-customer-modal form {
    padding: 20px;
}

.col-md-6.info-customer-modal form input {
    width: 100%!important;
    margin: 20px auto;
}

input#addressModal {
    height: 80px;
}

.info-real-cost {
    margin-top: 10px;
}

.col-md-6.info-customer-modal h3 {
    color: #a81818;
}

.col-md-6.info-customer-modal button {
    color: #a81818;
}

.container.modal-content {
    margin: 30px auto;
}
.modal {
    overflow: hidden;
}

.modal-dialog {
    max-width: 1100px;
}

ul.text-item {
    list-style:  none;
}

ul.text-item li i {
    color: green;
}

.oder-item {
    background: yellow;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.customer-service {
    text-align: center;
    padding: 20px 5px;
    border: 1px solid gray;
    margin-top: 10px;
}

.img-item-info {
    width: 50px;
    height:  50px;
    margin:  10px auto;
}

.img-item-info img {
    width: 100%;
    height:  auto;
}

#img-item-info .item-img {
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.owl-item active center .item-img {
    position: relative;
}

#img-item-info .item-img {
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.owl-item active center .item-img {
    position: relative;
}

.owl-prev, .owl-next {
    position: absolute;
    font-size: 64px;
    top: 50%;
}

.owl-prev {
    left: 80px;
}

.owl-next {
    right: 80px;
}

section.link {
    padding: 30px;
}

.info-product-detail-item .item {
    width: 100%;
    height: auto;
    text-align: center;
}

.info-product-detail-item .item img {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.info-product-detail-item {
    padding-bottom: 20px;
}

.info-product-detail {
    margin: 20px auto;
}

.info-product-detail-item p {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.col-md-12.detail {
    padding-top:  30px;
}

.menu-info a {
    text-transform: uppercase;
    padding: 13px;
}

.menu-info a:focus {
    border-bottom: 3px solid #FFC107;
}

.menu-info a:hover {
    border-bottom: 3px solid #e0be5f;
}

.menu-info {
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    position: relative;
}

.col-md-12.detail {
    padding-top: 50px;
    position: relative;
}

table.number-tech {
    border:  1px solid;
}

table.number-tech td {
    padding: 10px;
    border: 1px solid;
    font-size: 13px;
}

.detail-number {
    margin-top: 30px;
}

li.menu-basket {
    display: flex;
    color: #fbf16a;
    border: 2px solid;
}

li.menu-basket i {
    line-height: 45px;
    padding-left: 15px;
}

li.menu-basket a {
    margin-left: -10px;
}

ul.nav.navbar-nav.main-menu {
    padding-bottom: 5px;
}