/* ==========================================================================
   Do Hong Phuc
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.top-header:after{
  margin-bottom: 51px;
}


.menu{
  padding: 0;
}

.menu .heading{
  padding: 5px;
}

.form .panel-heading{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.panel-tool ul{
  font-size: 15px;
  list-style-type: none;
  align-items: center;
  margin: 0;
}

.panel-tool li{
  display: inline;
}

.panel-tool a {
  color: white;
  cursor: pointer;
}
.panel-tool a, .panel-tool a:focus {
  outline: none;
  text-decoration: none;
}
.panel-tool a:hover {
  text-decoration: none;
  color: black;
}

.form hr{
  box-sizing: content-box;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-item{
  margin: 5px 5px 20px 5px;
}

.form .panel-primary {
    border-color: #35AA47;
}

.form .panel-primary > .panel-heading {
    color: #fff;
    background-color: #35AA47;
    border-color: #35AA47;
}

.form .panel-footer{
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-item label{
  white-space: nowrap;
  font-weight: normal;
}

.member{
  margin-top: 55px;
}

.select:after{
  content: '\f078';
  font: normal normal normal 15px/1 FontAwesome;
  color: grey;
  right: 0px;
  top: 1px;
  height: 32px;
  padding: 8px 19px 0px 3px;
  border-left: 1px solid #CCCCCC;
  position: absolute;
  pointer-events: none;
}

.form-item select{
  text-indent: 0.01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-item select:hover{
  cursor: pointer;
}

nav.navbar-default {
  background-color:  transparent;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  .menu .navbar-header {
    float: none!important;
  }
}
.panel-body .form-group input {
  width: 100%!important;
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }
  .menu .navbar-header {
    float: none!important;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }

  .form-item label{
    font-size: 16px;
  }

  .menu .navbar-header {
    float: none;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
    .menu .navbar-header {
    float: none;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}