/* ==========================================================================
   Bui Viet Son
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: "Roboto", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
a.menu-basket.myCart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.menu-basket.myCart {
    position: fixed;
    bottom: 50%;
    background: #fbf16a73;
    width: 150px;
    height: 60px;
    left: 5px;
    line-height: 60px;
    color: #a90d0d;
    border-radius: 10px;
    z-index: 200;
}

.sub-item.form-group label {
    font-size: 13px;
    padding-top: 10px;
}

.panel-heading small {
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

.toTop {
    position: fixed;
    height: 40px;
    width: 70px;
    background: #fbeb1ca6;
    text-align: center;
    cursor:  pointer;
    right: 10px;
    bottom: 10px;
    z-index: 200;
    line-height: 40px;
    color: #a90d0d;
}

ul.nav.navbar-nav li a:focus {
  color: #fff!important;
}
nav.navbar.navbar-default {
    background: black;
}

.navbar-header {
    padding: 10px;
}

.navbar-header button {
    margin: 0 10px 0;
    background: #fbeb1c!important;
}

ul.nav.navbar-nav li a {
    color: #fff;
    font-family: arial;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

ul.nav.navbar-left {
    width: 100%;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in, .navbar-collapse.navbar-ex1-collapse.collapsing {
    border: none;
    box-shadow:  none;
}

form.navbar-form.navbar-right {
    padding-top: 10px;
}

.contairner {
    max-width: 1100px!important;
}

ul.nav.navbar-nav.main-menu li:hover a {
    color: #fbeb1c;
}

.container.wrap-banner {
    text-align: center;
    margin-top: 20px;
}

.wrap-category.container {
    display: flex;
    justify-content: space-around;
}

.wrap-category.container .item {
    padding: 10px;
    border: 1px dashed #aaa;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

section.category {
    background: #dedede;
    padding: 20px;
    margin-top: 40px;
}

.item a {
    font-weight: 600;
}

.item {
    text-align: center;
}

.wrap-category.container .item {
    height: auto;
}

.item-img {
    max-width: 170px;
    height: 240px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
}

.item-img img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.item {
    width: 200px;
    height: 380px;
    position: relative;
}

.item-info .name, .item-info .money {
    font-size:  17px;
}

.item-info .brand{
    font-size:  13px;
    font-style: italic;
    font-weight: normal;
}

.item-info{
    display: inline-grid;

}

.item-info .name{
    height: 60px;
    font-size: 15px!important;
}

.item img {
    height: auto;
}

section.common-products .brand {
    font-style: italic;
    font-size: 12px;
}

section.common-products .brand:hover a {
    text-decoration: underline;
    color: #4b4b4b!important;
}

.container.wrap-products .item a {
    
}

.container.wrap-products .item .money {
    color: #a90d0d;
}

.container.wrap-products .owl-prev, .container.wrap-products .owl-next {
    position: absolute;
    font-size: 46px;
    top: 46px;
    transform: translateY(50%);
}

.container.wrap-products .owl-next {
    right: -36px;
}

.container.wrap-products .owl-prev {
    left: -30px;
}

.container.wrap-products {
    margin-top: 40px;
}

.item:hover a img {
    opacity: .6;
}

.title .line {
    height: 1px;
    width: 100%;
    border-top: 1px dashed #aaa;
}

.title {
    position: relative;
}

.title h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12px;
    background: #fff;
    padding: 0 10px;
    text-transform: uppercase;
}

section.common-products, section.best-seller-products, 
.new-products, .brand-products, .same-products {
    margin-top: 40px;
}

.brand-list {
  list-style: none;
}

footer {
  background: black;
  margin-top: 40px;
}

.content h3{
    color: yellow;
}

.brand-list li {
    text-align: center;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
}

footer {
    padding: 20px;
}

.content .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom:  20px;
    padding-top: 20px;
    border-top: 3px solid;
}

.content p, .content p a {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.stores p {
    font-style: italic;
}

.footer-bottom {
    background: #aaa;
    padding: 8px;
}

.footer-bottom .container p {
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.wrap-slogan .row .col-md-3 {
    text-align: center;
}

ul.sub-menu li {
    display: flex;
    padding: 5px;
    margin-left: 30px;
}

ul.sub-menu {
    background: #fdfdfd;
    color: #000;
    position: absolute;
    width: 1100px;
    min-height: 250px;
    z-index: 90;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    display: none;
}

ul.sub-menu li {
    width: 100%;
}

.display {
    position: fixed;
    left:  50%;
    transform: translateX(-50%);
    z-index: 200;
}

.hide_ {
    background: black;
    opacity: .7;
}

nav.navbar.navbar-default {
    border: none;
    margin: 0;
}

.panel-heading input {
    background: transparent;
    border:  none;
    margin-right: 20px;
}

.panel-heading input:hover {
    color: black;
}

ul.sub-menu li a {
    color: #000!important;
}

ul.sub-menu-items li:last-child {
    position: relative!important;
}

li.balo:hover .sub-menu {
    display: block;
}

ul.sub-menu-items li:hover a {text-decoration:  underline;}

li.tuixach.balo .sub-menu {left: -70px;}

ul.sub-menu p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 5px;
}

ul.sub-menu-items li a {
    text-transform: capitalize!important;
}

.panel-footer input {
    background: transparent;
    border:  none;
    padding: 3px 15px;
    margin-right: 10px;
}

.panel-footer input:hover {
    border-bottom: 3px solid #77a565;
}

.panel-footer {
    min-height: 55px;
    text-align: center;
}

.display-none {
    display: none;
}

section.slogan {
    padding-top: 20px;
}

.panel-heading input {
    border-bottom: 3px solid;
    padding: 0 10px;
}

.panel-heading label {
    margin: 0;
}

.panel-heading {
    padding: 5px 20px;
}

.sub-item.form-group h3 {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}

.account_dropdown a{
    color: black!important;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  ul.nav.navbar-nav.main-menu li:last-child {
      position: absolute;
      right: 0;
  }
  .form-group input {
    width: 350px;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }

}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
  .main-menu li:last-child {
      position: absolute;
      right: 0;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
    .main-menu li:last-child {
      position: absolute;
      right: 0;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    header h1 {
        margin: 0 auto;
        text-align: center;
    }
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}