/* ==========================================================================
   Do Hong Phuc
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: white;
  font-family: "arial",Helvetica,sans-serif!important;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: "arial",Helvetica,sans-serif!important;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.toTop {
    position: fixed;
    height: 40px;
    width: 70px;
    background: #fbeb1ca6;
    text-align: center;
    cursor:  pointer;
    right: 10px;
    bottom: 10px;
    z-index: 200;
    line-height: 40px;
    color: #a90d0d;
}

.sub-item.form-group label {
    font-size: 13px;
    padding-top: 10px;
}

.panel-heading small {
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
}

ul.nav.navbar-nav li a:focus {
  color: #fff!important;
}
nav.navbar.navbar-default {
    background: black;
}

.navbar-header {
    padding: 10px;
}

.navbar-header button {
    margin: 0 10px 0;
    background: #fbeb1c!important;
}

ul.nav.navbar-nav li a {
    color: #fff;
    font-family: arial;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

ul.nav.navbar-left {
    width: 100%;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in, .navbar-collapse.navbar-ex1-collapse.collapsing {
    border: none;
    box-shadow:  none;
}

form.navbar-form.navbar-right {
    padding-top: 10px;
    margin-right: 0;
}

.contairner {
    max-width: 1100px!important;
}

ul.nav.navbar-nav.main-menu li:hover a {
    color: #fbeb1c;
}

ul.sub-menu li {
    display: flex;
    padding: 5px;
    margin-left: 30px;
}

ul.sub-menu {
    background: #eee;
    color: #000;
    position: absolute;
    width: 1100px;
    min-height: 250px;
    z-index: 90;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    display: none;
}

ul.sub-menu li {
    width: 100%;
}

.display {
    position: fixed;
    left:  50%;
    transform: translateX(-50%);
    z-index: 200;
}

.hide_ {
    background: black;
    opacity: .7;
}

nav.navbar.navbar-default {
    border: none;
    margin: 0;
}

.panel-heading input {
    background: transparent;
    border:  none;
    margin-right: 20px;
}

.panel-heading input:hover {
    color: black;
}

ul.sub-menu li a {
    color: #000!important;
}

ul.sub-menu-items li:last-child {
    position: relative!important;
}

li.balo:hover .sub-menu {
    display: block;
}

ul.sub-menu-items li:hover a {text-decoration:  underline;}

li.tuixach.balo .sub-menu {left: -70px;}

ul.sub-menu p {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 40px;
    margin-bottom: 5px;
}

ul.sub-menu-items li a {
    text-transform: capitalize!important;
}

.panel-footer input {
    background: transparent;
    border:  none;
    padding: 3px 15px;
    margin-right: 10px;
}

.panel-footer input:hover {
    border-bottom: 3px solid #77a565;
}

.panel-footer {
    min-height: 55px;
    text-align: center;
}

.display-none {
    display: none;
}







.breadcrumb {
  background-color: white;
  padding-left: 0px;
}

.breadcrumb li {
  display: inline;
  padding-right: 7px;
  font-size: 14px;
}

.breadcrumb ul {
  list-style: none;
}

.main{
  padding: 0 105px;
}

.side-bar .item{
  margin-bottom: 5px;
  font-size: 16px;
}
.side-bar .item>a{
  color: #505050;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  position: relative;
  padding-left: 13px;
}

.side-bar .item>a:hover{
  color: #505050;
}

.side-bar .item>a i{
  width: 8px;
  position: absolute;
  left: 0;
  top: 2px;
}

.side-bar .item .item-child{
  padding-left: 13px;
  padding-top: 5px;
  display: block;
}

.side-bar .item .item-child a{
  color: #8d8d8d!important;
  display: block;
  padding: 0 0 5px;
}

.side-bar .item .item-child{
  display: none;
}

.side-bar .item .open{
  display: block;
}

.best-seller h3{
  font-size: 16px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  padding-bottom: 5px;
  margin-top: 30px;
  font-weight: 600;
}

.best-seller .item .item-left{
  padding-left: 0!important;
  width: 80px;
  float: left;
  cursor: pointer;
}

.best-seller .item .item-left img{
  max-width: 100%;
}

.best-seller .item .item-right{
  width: calc(100% - 90px);
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.best-seller .item .item-right a{
  color: #000;
  display: block;
  padding-bottom: 5px;
  font-size: 13px;
}

.best-seller .item .item-right .price{
  font-weight: 700;
  color: #cc0100;
  font-size: 13px;
}


.items .filter{
  margin-bottom: 10px;
  position: relative;
}

.items .filter .item{
  display: inline-block;
  border: none;
}

.items .filter .item button{
  background: no-repeat;
}

.items .filter .item-color ul>li>a{
  width: 40px;
  height: 40px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}

.items .filter .item-color ul>li>a:hover{
  text-decoration: none;
  background: no-repeat;
}

.items .filter .item-color ul{
  padding: 5px;
  width: 330px;
}

.items .filter .item-color ul>li{
  margin: 5px;
  display: inline;
  float: left;
}

.items .filter .item-sort{
  float: right;
}

.product{
  margin-bottom: 30px;
  padding: 6px;
}

.product .item-product{
  text-align: center;
  position: relative;
  padding-top: 40px;
  cursor: pointer;
}

.product .wrap-image{
  display: block;
  padding-top: 10px;
  position: relative;
}


.product .item-product img{
  max-width: 100%;
  max-height: 240px;
  width: initial;
  display: inline-block;
}

.item-product img{
  height: auto!important;
}

.product .item-product .brand{
  text-transform: capitalize;
  padding: 10px 0;
  color: #aaa;
  font-size: 13px;
  font-style: italic;
  font-family: "Times New Roman";
  display: block;
}

.product .item-product .title{
  font-size: 13px!important;
  color: #333!important;
  text-transform: none!important;
  text-align: center;
  height: 28px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  margin-bottom: 5px;
}

.product .item-product .brand:hover, .product .item-product .title:hover{
  text-decoration: underline!important;
}

.product:hover{
  border: 1px solid #DDDDDD;
}

.product .item-product .price{
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  display: -webkit-box;
  height: 38px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product .item-product .price .main-price{
  color: #cc0100;
  font-weight: 700;
}

.product .item-product .price span{
  padding: 0 2px;
}

.main .items .product-pagnition{
  text-align: right;
}

.main .introduction{
  text-align: justify;
}

.main .introduction h2{
  font-size: 18px;
  font-weight: bold;
}

.main .introduction p{
  font-size: 17px;
}


footer {
  background: black;
}

.content h3{
    color: yellow;
}

footer {
    padding: 20px;
}

.content .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding-bottom:  20px;
    padding-top: 20px;
    border-top: 3px solid;
}

.content p, .content p a {
    color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
}

.stores p {
    font-style: italic;
}

.footer-bottom {
    background: #aaa;
    padding: 8px;
}

.footer-bottom .container p {
    text-align: center;
    color: #fff;
    font-size: 13px;
}

.slogan{
  padding-top: 20px;
}

.wrap-slogan{
  padding-left: 0;
}

.wrap-slogan .row .col-md-3 {
    text-align: center;
}

.banner{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.title .line {
    height: 1px;
    width: 100%;
    border-top: 1px dashed #aaa;
}

.title {
    position: relative;
}

.sub-item.form-group h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.sub-item.form-group {
    border-bottom: 1px solid #80808038;
}

section.common-products .brand {
    font-style: italic;
    font-size: 12px;
}

section.common-products .brand:hover a {
    text-decoration: underline;
    color: #4b4b4b!important;
}

div#brand-products {
    font-size: 13px;
    font-style:  italic;
}

.brand-list {
    list-style:  none;
}

.brand-list li a {
    color: black;
}

.menu-basket.toTop {
    bottom: 50%;
    background: #fbf16a73;
    width: 150px;
    height: 60px;
    left: 5px;
    line-height: 60px;
    color: #a90d0d;
    border-radius: 10px;
}

.title h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -12px;
    background: #fff;
    padding: 0 10px;
    text-transform: uppercase;
}

.brand-products{
    margin-top: 40px;
}





/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  ul.nav.navbar-nav.main-menu li:last-child {
      position: absolute;
      right: 0;
  }
  .form-group input {
    width: 350px!important;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    .main{
      padding: 0 15px;
    }
}