{{#section 'title'}}
	Your Shopping Cart
{{/section}}
{{#if isNoProduct}}
  <h1>Không có sản phẩm trong giỏ hàng!</h1>
{{else}}
<div class="container">
    <div class="row">
      <div class="col-md-9">
      {{#each items}}
      <section class="product-basket">
          <div class="item-product-basket">
            <div class="info-item">
              <img src='{{linkanh}}' alt='{{linkanh}}'>
              <div class="info-item-text">
                <p>
                  <a href="/product/detail/{{masp}}">
                    {{ten}}
                  </a>
                </p>
                <p>Chỉ còn {{soluongcon}} sản phẩm</p>
                <button value="{{masp}}" class="btn btn-danger" onclick="fremoveItem(this)">Xóa</button>
              </div>
            </div>
            <div class="info-cost">
              <h3>{{number_format gia}} VNĐ</h3>
              <div class="btn-group">
                <button value="{{masp}}" class="btn btn-success minus" onclick="fdecreaseItem(this)">-</button>
                <button value="{{masp}}" class="btn" type="text" id="value-number">{{soluong}}</button>
                <button value="{{masp}}" class="btn btn-success plus" onclick="fincreaseItem(this)">+</button>
              </div>
            </div>
          </div>
      </section>
      {{/each}}
      </div>
      <div class="col-md-3">
        <div class="info-cost-total">
          <div class="info-total item-info-cost">
            <small class="left-modal">Tạm tính</small>
            <small class="right-modal">{{number_format Amount}} VNĐ </small>
          </div>
          <div class="info-fee item-info-cost">
            <small class="left-modal">Thành tiền</small>
            <small class="right-modal">{{number_format Amount}} VNĐ</small>
          </div>
          <button class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="fmthanhtoanClick()">
            	Tiến hành đặt hàng
          </button>
        </div>
        <div class="panel panel-default ship-info" id="shipinfo" style="display:none;" >
          <div class="panel-heading">Thông tin đặt hàng</div>
          <div class="panel-body">
            <form method="POST" action="/cart/thanhtoan" id="fmthanhtoan">
              <div class="form-group cus-infos">
                <label for="tennguoinhan">Tên người nhận:</label>
                <input type="text"  value="{{ten}}" class="form-control cus-info" id="tennguoinhan" placeholder="Tên người nhận" name="tennguoinhan" required>
              </div>
              <div class="form-group cus-infos">
                <label for="diachinhan">Địa chỉ nhận:</label>
                <input type="text" value="{{diachi}}" class="form-control cus-info" id="diachinhan" placeholder="Địa chỉ nhận" name="diachinhan" required>
              </div>
              <div class="form-group cus-infos">
                <label for="sodienthoai">Số điện thoại:</label>
                <input type="text" value="{{sodienthoai}}" class="form-control cus-info" id="sodienthoai" placeholder="Điện thoại" name="sodienthoai" required>
              </div>
              <div class="form-group cus-infos">
                <label for="ghichu">Ghi chú:</label>
                <input type="text" class="form-control cus-info" id="ghichu" placeholder="Ghi chú" name="ghichu">
              </div>
              <button class="btn btn-info btn-lg xacnhan" onclick="fmxacnhanClick()">
            	Xác nhận
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

	<form method="POST" action="/cart/remove" id="fmRemove" style="display:none;">
      <input type="text" id="removeID" name="proID">
  </form>

  <form method="POST" action="/cart/decrease" id="fmDecrease" style="display:none;">
      <input type="text" id="decreaseID" name="proID_D">
  </form>
  
  <form method="POST" action="/cart/increase" id="fmIncrease" style="display:none;">
      <input type="text" id="increaseID" name="proID_I">
  </form>
  
	<form method="POST" action="/cart/dathang" id = "nutdathang" style="display:none;">
		<input name="datadathang">
	</form>

  {{/if}}
  <script type="text/javascript">
    function fremoveItem(id){
      $('#removeID').val(id.value);
      $('#fmRemove').submit();
    }
    function fincreaseItem(id){
      $('#increaseID').val(id.value);
      $('#fmIncrease').submit();
    }
    function fdecreaseItem(id){
      $('#decreaseID').val(id.value);
      $('#fmDecrease').submit();
    }
    function fmthanhtoanClick(){
      $('#shipinfo').show(1000);
    }

    function fmxacnhanClick(){
      $('#fmthanhtoan').submit();
    }
  </script>
  {{#section 'js'}}
  {{/section}}